@import "compass/reset"

$font-stack: Helvetica, sans-serif
$sidebar-background: #eee
$content-background: #fff

.sidebar
	background-color: $sidebar-background

.content
	background-color: $content-background